/.git/
/.gitignore
/.github
/docs/
/fixtures/

/core/storage/*
!/core/storage/.keep
/core/log/*
/core/tmp/*
/core/.env*
/core/config/master.key
/core/config/credentials/*.key
/core/config/deploy*.yml
/core/.kamal
/core/.dockerignore
/core/Dockerfile*

/songs/storage/*
!/songs/storage/.keep
/songs/log/*
/songs/tmp/*
/songs/.env*
/songs/config/master.key
/songs/config/credentials/*.key
/songs/config/deploy*.yml
/songs/.kamal
/songs/.dockerignore
/songs/Dockerfile*
